[Unit]
Description=This is the fitrobot bringup service
# StartLimitIntervalSec=360
# StartLimitBurst=3
TimeoutStartSec=30
Requires=fitrobot.a2.service
After=fitrobot.a2.service

[Service]
User=pi
WorkingDirectory=/home/pi/zbotartic_ws
ExecStartPre=/bin/sleep 30
ExecStart=/bin/bash -c "source /opt/ros/humble/setup.bash && source /home/pi/zbotartic_ws/install/setup.bash && /opt/ros/humble/bin/ros2 launch fitrobot bringup.launch.py"
# Restart=on-failure
# RestartSec=120s

[Install]
WantedBy=multi-user.target