[Unit]
Description=This is the articubot bringup service
StartLimitIntervalSec=160s
StartLimitBurst=3


[Service]
User=pi
WorkingDirectory=/home/pi/zbotartic_ws
ExecStart=/bin/bash -c "export RMW_IMPLEMENTATION=rmw_cyclonedds_cpp && source /opt/ros/humble/setup.bash && source /home/pi/zbotartic_ws/install/setup.bash && /opt/ros/humble/bin/ros2 launch articubot_one launch_robot.launch.py"
TimeoutStartSec=30s
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
