[Unit]
Description=This is the fitrobot bringup service
Requires=fitrobot.lino.service
After=fitrobot.lino.service

[Service]
Environment="ROBOT_TYPE=lino" "RMW_IMPLEMENTATION=rmw_cyclonedds_cpp" "LINOROBOT2_BASE=zbotlinosick2" "LINOROBOT2_LASER_SENSOR=nanoscan3" "CYCLONEDDS_URI=/home/pi/cyclonedds.xml"
User=pi
WorkingDirectory=/home/pi/zbotlino_ws
ExecStart=/bin/bash -c "source /opt/ros/humble/setup.bash && source /home/pi/zbotlino_ws/install/setup.bash && /opt/ros/humble/bin/ros2 launch fitrobot bringup.launch.py"

[Install]
WantedBy=multi-user.target
